.scrollArea {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70vw; /* Temporarily hardcoded */
    overflow: scroll;
}

.outerContainer {
    margin: 0px auto;
    padding: 2em;
}

.innerContainer {
    border: 1px dotted grey;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.innerContainer * {
    pointer-events: none;
}
