# dependencies
/node_modules/
.eslintcache

# build
/dist/
src/encoding/generated.*

# misc
.DS_Store
.vscode/
npm-debug.log*
pnpm-debug.log*
pnpm-error.log*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
