@import "/index.css";

.gridInternalLines {
    stroke: var(--user-dark-white);
    stroke-width: 2;
    stroke-linecap: square;
}
.gridSolidOutline {
    stroke: var(--user-dark-white);
    stroke-width: 10;
    stroke-linejoin: miter;
    fill: none;
}
