/* TODO: handle mobile screens */
.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    --canvas-width: 70%;
}

.canvasContainer {
    width: var(--canvas-width);
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}

.sideBar {
    width: calc(100% - var(--canvas-width));
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none; /* Remove once I switch to Mantine Scrollbar */
    border-right: 3px solid rgb(54, 50, 50);
}

/* Remove once I switch to Mantine Scrollbar */
.sideBar::-webkit-scrollbar {
    display: none;
}
