/* TODO: handle mobile screens */
.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    --canvas-width: 70%;
}

.canvasContainer {
    width: var(--canvas-width);
    height: 100%;
    display: flex;
    overflow: hidden;
}

.sideBar {
    width: calc(100% - var(--canvas-width));
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    border-right: 3px solid rgb(54, 50, 50);
}

.sideBar::-webkit-scrollbar {
    /* TODO: Do I want to actually do that? */
    display: none; /* Remove scroll bars while still allowing scrolling. */
}
