.item {
    display: flex;
}

.itemHandle {
    cursor: move;
    margin: 0px;
    margin-right: 3px;
    width: 1em;
    height: 1em;
}

.itemBody {
    display: flex;
    flex-grow: 1;
    margin: 3px;
}

.itemBody > p {
    margin: 0px;
}
