.groupContainer {
    margin-bottom: 10px;
    --transition-duration: 200ms;
}

.groupHeader {
    display: inline-flex;
    justify-content: center;
    padding: 7px;
    margin: 0;

    background-color: gray;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.groupHeader > * {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

.headerIcon {
    transition: transform var(--transition-duration);
    transform: rotate(0deg);
}

.headerIconOpen {
    transition: transform var(--transition-duration);
    transform: rotate(90deg);
}
