/* TODO: handle mobile screens */
.mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.canvasContainer {
    width: 80%;
    height: 100%;
    display: flex;
}

.sideBar {
    width: calc(19% - 5px);
    height: 100%;
    overflow: hidden;
}

.divider {
    width: 5px;
    height: 100%;
    /* Is this necessary? No. */
    background-color: gray;
    background: repeating-linear-gradient(
        45deg,
        rgb(50, 50, 50),
        rgb(50, 50, 50) 2px,
        rgb(80, 80, 80) 2px,
        rgb(80, 80, 80) 12px
    );
}
